<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Stripe Transaction Tutorial</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">
          Introduction
        </a>
      </li>

      <li>
        <a href="/node-setup">
          1. Set up Node
        </a>
      </li>

      <li>
        <a href="/main-layout">
          2. Create a main layout
        </a>
      </li>

      <li>
        <a href="/build-a-form">
          3. Build a form
        </a>
      </li>

      <li>
        <a href="/test-data">
          4. Provide test data
        </a>
      </li>

      <li>
        <a href="/request-token">
          5. Request a token
        </a>
      </li>

      <li>
        <a href="/create-charge">
          6. Create a charge
        </a>
      </li>

      <li>
        <a href="/request-refund">
          7. BONUS: Refund a charge
        </a>
      </li>

      <li>
        <a href="/additional-challenges">
          Additional Challenges
        </a>
      </li>
    </ul>
  </nav>

  <main>
    {{{body}}}
  </main>

</body>
</html>