<section class="step" id="additional-challenges">
  <h1>Additional Challenges</h1>
  <p>You know now the basics of how Stripe transactions are created via two separate HTTP requests. We hope you enjoyed this tutorial!</p>
  <p>From here, you might experiment with the following:</p>
  <ul>
    <li>Setting your app up to use HTTPS (required if you plan to use the Stripe API for real)</li>
    <li>Creating Stripe customers</li>
    <li>Storing Stripe customer IDs in your database, associating them with usernames</li>
  </ul>
  <p>Best wishes for all of your Stripe adventures. &hearts;</p>
</section>